<nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/products">Products</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>
<!-- <p>{{birthday | date}}</p>
<p>{{title | lowercase}}</p>
<p>{{salary | currency:"EUR"}}</p>
<p>{{hobby | slice:0:2}}</p> -->
<!-- ([ngModel])=""
<app-user-profile name="prajwol" userAge="21" isMarried="false"></app-user-profile>
<hr/>
<app-user-profile name="nature" userAge="24" isMarried="true"></app-user-profile>
<hr/>
<app-user-profile name="david" userAge="19" isMarried="false"></app-user-profile> -->

<app-user-profile *ngFor="let user of users" [name]="user.name" [age]="user.age" [isMarried]="user.isMarried" (myEvent)="receiveData($event)"></app-user-profile>


