<!-- 
<h1>Email:{{inputEmail}}</h1>
<h2>password:{{inputPassword}}</h2>

<input [type]="inputType" (input)="onChange($event)"/>
<br/> <br/>

<input type="password" [(ngModel)]="inputPassword"/>  

 -->

 <!-- <div> -->
    <!-- @for(user of users;track user.name){
        <h1>{{user.name}}</h1>
        <h2>{{user.salary}}</h2>
        <h2>{{user.isMarried?"Sad":"Happy"}}</h2>
    } -->
    <!-- @for(user of users;track user.name){
        @if(user.salary>=60000){
            <h1>{{user.name}}</h1>
        }@else {
            <h1>Salary is less than 60000</h1>
        }
        <h2>{{user.salary}}</h2>
        <h2>{{user.isMarried?"Sad":"Happy"}}</h2>
    }
 </div>
 <hr/> -->
 <!-- <div *ngFor="let user of users">
    <h1 *ngIf="user.salary>=70000;else elseblock">{{user.name}}</h1>
    <ng-template #elseblock>
        <h1>Salary is less than 70000</h1>
    </ng-template>
    
 </div> -->

 